<h1>Places</h1>
<link rel="stylesheet" href="/stylesheets/application.css">

<p>
  <a href="/places/new" class="btn btn-primary">New Place</a>
</p>

<div class="cards-container">
  <% for place in @places %>
    <div class="card">
      <a href="/places/<%= place["id"] %>">
        <h3><%= place["name"] %></h3>
      </a>
    </div>
  <% end %>
</div>

