<h1>Places</h1>

<p>
  <a href="/places/new" class="btn btn-primary">New Place</a>
</p>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

